__pycache__
*pyc
*egg-info
.tox
.coverage
.cache
dist/
dbdiff/tests/db.sqlite3
responsediff/tests/response_fixtures/TestResponseDiff.test_story.content
responsediff/tests/response_fixtures/TestResponseDiff.test_story.metadata
responsediff/tests/response_fixtures/TestResponseDiff.test_story/
responsediff/tests/response_fixtures/MixinTest.test_websiteTest/
responsediff/tests/response_fixtures/MixinTest.test_assertNoDiffSelector_non_ascii.content
responsediff/tests/response_fixtures/MixinTest.test_assertNoDiffSelector_non_ascii.metadata
responsediff/tests/response_fixtures/MixinTest.test_assertWebsiteSame/
responsediff/tests/response_fixtures/MixinTest.test_recursion/
responsediff/tests/response_fixtures/MixinTest.test_redirect/
